.list-row {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: flex-start;
    margin-left: 5%;
    margin-top: 1rem;
    /* border: 1px solid blue;    */
    gap: 2rem;
    background-color: var(--darkgrey);
    border-radius: 1rem;
}

.info-flex {
    width: 20%;

}

.chip-flex {
    width: 20%;
    padding: 5px;
}

.info-list-container>td {
    text-align: left;
    width: 20%;
}

.info-list-container {
    width: 50%;
}

.vol {
    margin-top: 1rem;
    margin-left: 1.4rem;
    text-align: left;
}

.list-row>td {
    text-align: left;

}

.list-table {
    width: 100%;
}

@media only screen and (max-width: 450px) {

    .list-row{
        gap:0.1rem;
        margin-left: 0;
    }

    .responsive-list-row {
        margin: 0;
        margin-top: 10px;
        padding: 0;
    }

    .responsive-logo {
        width: 30px;
        height: 30px;
        padding: 0;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }

    .responsive-symbol, .responsive-name{
        font-size: 0.6rem;
    }

    .responsive-info{
     padding: 0;
     margin: 0;
     margin-top: 20px;
    }

  

    .responsive-coin-percentage{
        border: 1px solid red;
        padding: 5px;
        margin: 0;
        /* margin-top: 20px; */
        margin-right: -30px; 
    }

   
    .responsive-icon-green{
        margin-left:30px;
    }

    .responsive-icon-red{
        margin-left:30px;
    }
}