.landing-flex {
    padding: 1rem 2rem;
    display: flex;
    margin-top: 20px;
}

.left-div {
    padding: 20px;
    width: 60%;

}


.crypto-heading,
.real-time-heading {
    font-size: 7rem;
}

.crypto-heading {
    margin: 0;
    width: 0;

    -webkit-text-stroke-width: 0.2rem;
    -webkit-text-stroke-color: var(--white);
}

.real-time-heading {
    color: var(--blue);
}

.btn-flex {
    display: flex;
    margin: 2rem;
    gap: 1rem;
}

.crypto-heading:hover {

    -webkit-text-stroke-width: 0.2rem;
    -webkit-text-stroke-color: var(--white);
    -webkit-text-fill-color: var(--black);
}

.right-div {
    width: 40%;
    position: relative;

}

.phoneImg {
    position: absolute;
    margin-left: 60px;
    width: 280px
}

.gradientimg {
    width: 250px;
    margin-left: 90px;
    margin-top: 50px;
}



@media only screen and (max-width: 450px) {

    .real-time-heading {
        font-size: 2.5rem;
    }

    .crypto-heading{
        font-size: 3rem;
    }

    .phoneImg {
        position: absolute;
        margin-left: -10px;
        width: 180px
    }

        .left-div > p{
            font-size:1rem;
        }

    .gradientimg {
        width: 120px;
        margin-left: 30px;
        margin-top: 70px;
       
    }

    .right-div {
        width: 100%;
        position: relative;
    }

    .left-div{
        padding: 0;
        margin: 0;
    }

    .btn-flex{
        margin:0;
        margin-top: 40px;
    }


}